<% include ./partials/header %>
<div class="container">
<div class="text-center header">
<h1>Hurricane Irma Wind Speed Tracker</h1>
<p>Information based in Tampa, FL.</p>
<h2><%= data.main.temp %> °F</h2>
<% if(data) {%>
<h2>"<%= data.weather.main%>"</h2>
<% }; %>
</div>
<div class="primary text-center">
</div>
<h3>Current Wind Speed:</h3>

  <% if(data) { %>
  <p><%=data.wind.speed%> MPH</p>
  <% }; %>
    
<h3>Current Gusts Up To:</h3>
<% if(data) { %>
<p><%=(data.wind.gust + data.wind.speed)%> MPH</p>
<% }; %>


<!--<h3>Max Sustained Speed Recorded:</h3>-->
<!--<% var currentSpeed = parseInt(data.wind.speed); %>-->
<!--<% var maxSpeed = 0; %>-->
<!--<% function speedRecord (currentSpeed, maxSpeed) { %>-->
<!--  <p><%= Math.max(currentSpeed, maxSpeed); %> MPH</p>-->
<!--<% }; %>-->
</div>
<% include ./partials/footer %>
